<style>
    .profile-avatar-container {
        position: relative;
        width: 100px;
        margin: 0 auto;
    }

    .profile-avatar-container .profile-user-img {
        width: 100px;
        height: 100px;
    }

    .profile-avatar-container .profile-avatar-text {
        display: none;
    }

    .profile-avatar-container:hover .profile-avatar-text {
        display: block;
        position: absolute;
        height: 100px;
        width: 100px;
        background: #444;
        opacity: .6;
        color: #fff;
        top: 0;
        left: 0;
        line-height: 100px;
        text-align: center;
    }

    .profile-avatar-container button {
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
        height: 100px;
        opacity: 0;
    }
</style>
<div class="row animated fadeInRight">
    <div class="col-md-4" style="width: 600px;">
        <div class="box box-success">
            <div class="panel-heading">
                关于我们
            </div>
            <div class="panel-body">

                <form id="update-form" role="form" data-toggle="validator" method="POST" action="{:url('ksconfig.ksabout/update')}">
                    <div class="box-body box-profile">
                        <h3 class="profile-username text-center">公司简介</h3>

                        <p class="text-muted text-center"></p>
                        <div class="form-group">
                            <label for="content" class="control-label">内容:</label>
                            <textarea type="text" class="form-control" id="content" data-rule rows="7"
                                      name="row[content]">{$about.content}</textarea>
                        </div>

                        <!--关于我们标志位-->
                        <input type="hidden" id="c-config_category" name="row[config_category]" value="about"/>


                        <div class="form-group">
                            <button type="submit" class="btn btn-success">{:__('Submit')}</button>
                            <button type="reset" class="btn btn-default">{:__('Reset')}</button>
                        </div>

                    </div>
                </form>
            </div>

            <!--<div class="panel-body" style="padding-left:22px">-->

                <!--<label for="content" class="control-label">推广链接:</label>-->

                <!--<input type="text" style="width: 500px;background-color: lightgrey" disabled="disabled"-->
                       <!--value="baiduboxapp://swan/KRMRoxNzDLqs9fZeQTLoXtZmujZSFtL6/pages/index/index-->
<!--">-->

            <!--</div>-->

            <!--<div class="panel-body" style="padding-left:22px">-->
                <!--<label for="content" class="control-label">手机看数据:</label>-->
                <!--<img style="text-align: center" src="http://localhost:8824/uploads/baiduqr.png">-->
            <!--</div>-->

        </div>

    </div>

</div>
