<!DOCTYPE html>
<html mip>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,user-scalable=no">
    <title>bj-学历提升中心</title>
    <link rel="stylesheet" type="text/css" href="__CDN__/ldy_assets/static/css/mip.css">
    <link rel="stylesheet" type="text/css" href="__CDN__/ldy_assets/static/css/mip-custom08.css">
</head>

<body>
    <div class="body-wrapper">
        <div id="pageinfo" guid="tpl_udf_22294350_nishang" pagename="page" isNewComponent="true" isNewFormOne="true" pagetype="index" pageid="7132689" siteid="7136461" sitetype="3" ucid="27759817" vpUcid="nWTLPHb3nHT" gfhid="" appid="3" subappid="255" domainName="undefined" followbarType="2">
        </div>
        <mip-bsml-widget name="img-single" type="img-single" id="45ca8cfad547e863cdd4f64d23a82c82">
            <section class="single-img" id="bsmlStyle_comp_1_img-single1">
                <a href="http://chatn4.bjmantis.net/chat/t1/chat.html" target="_blank">
                    <div class="single-img-box">
                        <mip-img prerender src="https:&#x2F;&#x2F;imagelib.cdn.bcebos.com&#x2F;cip_ml_pic1d073400-511e-498f-8027-18581f0e2a1b.png" />
                    </div>
                </a>
            </section>
        </mip-bsml-widget>
        <mip-bsml-widget name="trans-form-blank-three" type="trans-form-blank" id="20ec3109eb485896c64ed7fd63ce965c">
            <div class="trans-form-blank-three" id="bsmlStyle_comp_2_trans-form-blank-three1">
                <div class="bsml-form">
                    <mip-bsml-form data-count="{&quot;number&quot;:&quot;1888&quot;,&quot;show&quot;:true,&quot;text&quot;:&quot;已经提交了{count}人&quot;,&quot;type&quot;:1}">
                        <h2 class="bsml-form-title" id="bsmlStyle_comp_2_trans-form-blank-three2">
                        </h2>
                        <mip-form method="get" type="trans-form" url="">
                            <ul class="bsml-form-list">
                                <li><label>
                                        <div class="form-input">
                                            <mip-bsml-multiselect name="您的年龄？" options="[{&quot;text&quot;:&quot;18岁-25岁&quot;,&quot;value&quot;:&quot;18岁-25岁&quot;},{&quot;text&quot;:&quot;26岁-31岁&quot;,&quot;value&quot;:&quot;26岁-31岁&quot;},{&quot;text&quot;:&quot;32岁-40岁&quot;,&quot;value&quot;:&quot;32岁-40岁&quot;},{&quot;text&quot;:&quot;41岁-50岁&quot;,&quot;value&quot;:&quot;41岁-50岁&quot;}]"></mip-bsml-multiselect>
                                        </div>
                                    </label></li>
                                <li><label>
                                        <div class="form-input">
                                            <mip-bsml-multiselect name="期望减免的学费是？" options="[{&quot;text&quot;:&quot;500元-1000元&quot;,&quot;value&quot;:&quot;500元-1000元&quot;},{&quot;text&quot;:&quot;1000元-1500元&quot;,&quot;value&quot;:&quot;1000元-1500元&quot;},{&quot;text&quot;:&quot;1500元-2000元&quot;,&quot;value&quot;:&quot;1500元-2000元&quot;},{&quot;text&quot;:&quot;2000元以上&quot;,&quot;value&quot;:&quot;2000元以上&quot;}]"></mip-bsml-multiselect>
                                        </div>
                                    </label></li>
                                <li><label>
                                        <div class="form-input">
                                            <mip-bsml-multiselect name="期望考证方式？" options="[{&quot;text&quot;:&quot;在家自学&quot;,&quot;value&quot;:&quot;在家自学&quot;},{&quot;text&quot;:&quot;网络授课&quot;,&quot;value&quot;:&quot;网络授课&quot;},{&quot;text&quot;:&quot;全程托管&quot;,&quot;value&quot;:&quot;全程托管&quot;},{&quot;text&quot;:&quot;边学边考&quot;,&quot;value&quot;:&quot;边学边考&quot;}]"></mip-bsml-multiselect>
                                        </div>
                                    </label></li>
                                <li><label>
                                        <div class="form-input"><input placeholder="请输入您的手机号" maxlength="11" name="手机验证" class="bsml-input bsml-input-phone" type="text" /></div>
                                    </label></li>
                                <li><label>
                                        <div class="form-input"><input maxlength="11" name="手机验证" class="bsml-input bsml-input-phonecode" type="text" placeholder="请输入验证码" /></div><span class="bsml-input-phonecode-btn bsml-input-phonecode-n">获取验证码</span>
                                    </label><input type="hidden" class="bsml-input-phonecode-key" value=false></li>
                            </ul>
                            <div class="bsml-form-list-box">
                                <div class="bsml-form-list-submit" data-ucid="27759817" data-pageid="7132689" data-siteid="7136461" data-successurl="" data-failurl="" data-resubmit="" data-scrolltype="2" data-successhint="提交成功！" data-successhint-show="false" data-scrolltype-show="false" data-jumpaddress-show="false" id="bsmlStyle_comp_2_trans-form-blank-three3">
                                    <div id="bsmlStyle_comp_2_trans-form-blank-three4">立即获取结果</div>
                                </div>
                            </div>
                            <div class="bsml-form-tips"></div>
                        </mip-form>
                        <!-- 用于记录表单项是否必填 -->
                        <script class="require-list" type="application/json">
                            multiselect: false, multiselect: true, multiselect: true, phonecode: false,
                        </script>
                    </mip-bsml-form>
                </div>
            </div>
        </mip-bsml-widget>
        <mip-bsml-widget name="img-single" type="img-single" id="4912ba9e9daffe33ea1c04ec5e927d76">
            <section class="single-img" id="bsmlStyle_comp_3_img-single1">
                <a href="http://chatn4.bjmantis.net/chat/t1/chat.html" target="_blank">
                    <div class="single-img-box">
                        <mip-img prerender src="__CDN__/ldy_assets/static/images/cip_ml_pic36c5f8e4-2a9b-4945-aca7-4bb8d81f8915.jpeg" />
                    </div>
                </a>
            </section>
        </mip-bsml-widget>
        <mip-bsml-widget name="img-single" type="img-single" id="30ced1d577151f751334b1d7d22852ee">
            <section class="single-img" id="bsmlStyle_comp_4_img-single1">
                <a href="http://chatn4.bjmantis.net/chat/t1/chat.html" target="_blank">
                    <div class="single-img-box">
                        <mip-img prerender src="__CDN__/ldy_assets/static/images/cip_ml_pic1e7b408f-0d40-4c77-ab8f-4b7c13c96c81.jpeg" />
                    </div>
                </a>
            </section>
        </mip-bsml-widget>
        <mip-bsml-widget name="trans-form-blank-three" type="trans-form-blank" id="97b15c8cfb74acc4b460e58098217780">
            <div class="trans-form-blank-three" id="bsmlStyle_comp_5_trans-form-blank-three1">
                <div class="bsml-form">
                    <mip-bsml-form data-count="{&quot;number&quot;:&quot;1888&quot;,&quot;show&quot;:true,&quot;text&quot;:&quot;已经提交了{count}人&quot;,&quot;type&quot;:1}">
                        <h2 class="bsml-form-title" id="bsmlStyle_comp_5_trans-form-blank-three2">
                        </h2>
                        <mip-form method="get" type="trans-form" url="">
                            <ul class="bsml-form-list">
                                <li><label>
                                        <div class="form-input"><input name="姓名" class="bsml-input bsml-input-name" type="text" placeholder="姓名" /></div>
                                    </label></li>
                                <li><label>
                                        <div class="form-input"><input maxlength="11" name="电话" class="bsml-input bsml-input-phone" type="text" placeholder="电话" /></div>
                                    </label></li>
                                <li><label>
                                        <div class="form-input"><input placeholder="请输入您的手机号" maxlength="11" name="手机验证" class="bsml-input bsml-input-phone" type="text" /></div>
                                    </label></li>
                                <li><label>
                                        <div class="form-input"><input maxlength="11" name="手机验证" class="bsml-input bsml-input-phonecode" type="text" placeholder="请输入验证码" /></div><span class="bsml-input-phonecode-btn bsml-input-phonecode-n">获取验证码</span>
                                    </label><input type="hidden" class="bsml-input-phonecode-key" value=false></li>
                            </ul>
                            <div class="bsml-form-list-box">
                                <div class="bsml-form-list-submit" data-ucid="27759817" data-pageid="7132689" data-siteid="7136461" data-successurl="" data-failurl="" data-resubmit="" data-scrolltype="2" data-successhint="提交成功！" data-successhint-show="false" data-scrolltype-show="false" data-jumpaddress-show="false" id="bsmlStyle_comp_5_trans-form-blank-three3">
                                    <div id="bsmlStyle_comp_5_trans-form-blank-three4">抢占报名名额</div>
                                </div>
                            </div>
                            <div class="bsml-form-tips"></div>
                        </mip-form>
                        <!-- 用于记录表单项是否必填 -->
                        <script class="require-list" type="application/json">
                        name: , phone: , phonecode: ,
                        </script>
                    </mip-bsml-form>
                </div>
            </div>
        </mip-bsml-widget>
        <mip-bsml-performance></mip-bsml-performance>
        <div class="site-pv"></div>
    </div>
    <script src="__CDN__/ldy_assets/static/js/mip.js"></script>
    <script src="__CDN__/ldy_assets/static/js/mip-bsml-widget.js"></script>
    <script src="__CDN__/ldy_assets/static/js/mip-bsml-form.js"></script>
    <script src="__CDN__/ldy_assets/static/js/mip-form.js"></script>
    <script src="__CDN__/ldy_assets/static/js/mip-bsml-multiselect.js"></script>
    <script src="__CDN__/ldy_assets/static/js/mip-bsml-performance.js"></script>
</body>

</html>