<!DOCTYPE html>
<html mip>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,user-scalable=no">
    <title>北京外国语大学课程研修班</title>
    <link rel="stylesheet" type="text/css" href="__CDN__/ldy_assets/static/css/mip.css">
    <link rel="stylesheet" type="text/css" href="__CDN__/ldy_assets/static/css/mip-custom05.css">
</head>

<body>
    <div class="body-wrapper">
        <div id="pageinfo" guid="tpl_udf_22294350_kongbaimoban" pagename="page" isNewComponent="true" isNewFormOne="true" pagetype="index" pageid="6927237" siteid="6930893" sitetype="3" ucid="26896450" vpUcid="nWm3rHmYPH0" gfhid="" appid="3" subappid="255" domainName="undefined" followbarType="2">
        </div>
        <mip-bsml-widget name="img-single" type="img-single" id="a83a15ffe62511267afcdc925baa0a51" ds="{}">
            <section class="single-img" id="bsmlStyle_comp_1_img-single1">
                <div class="single-img-box">
                    <mip-img prerender src="__CDN__/ldy_assets/static/images/cip_ml_picc26a9d3a-f231-416e-84a8-bef72cac342b.jpeg" />
                </div>
            </section>
        </mip-bsml-widget>
        <mip-bsml-widget name="img-single" type="img-single" id="98cd0e24c595b0750eb1face9f7e31e4" ds="{}">
            <section class="single-img" id="bsmlStyle_comp_2_img-single1">
                <div class="single-img-box">
                    <mip-img prerender src="__CDN__/ldy_assets/static/images/cip_ml_pic51fbddd0-6d55-401f-9aa8-81a7017281fb_cut.jpeg" />
                </div>
            </section>
        </mip-bsml-widget>
        <mip-bsml-widget name="text-content" type="text-content" id="20935cbf92bdc8bbc1a2dcb2ba6c12f1" ds="{}">
            <section class="only-text" id="bsmlStyle_comp_3_text-content1">
                <div class="only-text-text">
                    <div class="only-text-text-des"><span id="bsmlStyle_comp_3_text-content2">注：2014年起，“在职研究生班”更名为“课程研修班”</span></div>
                </div>
            </section>
        </mip-bsml-widget>
        <mip-bsml-widget name="trans-form-blank-three" type="trans-form-blank" id="0076865402820f72cc89abd10407c1db">
            <div class="trans-form-blank-three" id="bsmlStyle_comp_4_trans-form-blank-three1">
                <div class="bsml-form">
                    <mip-bsml-form data-count="{&quot;number&quot;:100,&quot;show&quot;:false,&quot;text&quot;:&quot;已经提交了{count}人&quot;,&quot;type&quot;:1}">
                        <h2 class="bsml-form-title" id="bsmlStyle_comp_4_trans-form-blank-three2">
                            <h2 class="bsml-form-title" id="bsmlStyle_comp_4_trans-form-blank-three3">
                                <h2 class="bsml-form-title" id="bsmlStyle_comp_4_trans-form-blank-three3" id="bsmlStyle_comp_4_trans-form-blank-three4">
                                    <font color="#bf002f" id="bsmlStyle_comp_4_trans-form-blank-three5">&gt;&gt;<span id="bsmlStyle_comp_4_trans-form-blank-three6">&nbsp;</span>我要报名&nbsp;&nbsp;</font>限有学位者,报名！
                                </h2>
                            </h2>
                        </h2>
                        <mip-form method="get" type="trans-form" url="">
                            <ul class="bsml-form-list">
                                <li><label>
                                        <div class="form-input"><input name="姓名" class="bsml-input bsml-input-name" type="text" placeholder="姓名" /></div>
                                    </label></li>
                                <li><label>
                                        <div class="form-input"><input placeholder="请输入您的手机号" maxlength="11" name="手机验证" class="bsml-input bsml-input-phone" type="text" /></div>
                                    </label></li>
                                <li><label>
                                        <div class="form-input"><input maxlength="11" name="手机验证" class="bsml-input bsml-input-phonecode" type="text" placeholder="请输入验证码" /></div><span class="bsml-input-phonecode-btn bsml-input-phonecode-n">获取验证码</span>
                                    </label><input type="hidden" class="bsml-input-phonecode-key" value=false></li>
                            </ul>
                            <div class="bsml-form-list-box">
                                <div class="bsml-form-list-submit" data-ucid="26896450" data-pageid="6927237" data-siteid="6930893" data-successurl="" data-failurl="" data-resubmit="" data-scrolltype="2" data-successhint="提交成功！北外老师将在2个工作日内回复！" data-successhint-show="true" data-scrolltype-show="false" data-jumpaddress-show="false" id="bsmlStyle_comp_4_trans-form-blank-three7">
                                    <div id="bsmlStyle_comp_4_trans-form-blank-three8">学费查询</div>
                                </div>
                            </div>
                            <div class="bsml-form-tips"></div>
                        </mip-form>
                        <!-- 用于记录表单项是否必填 -->
                        <script class="require-list" type="application/json">
                        name: , phonecode: ,
                        </script>
                    </mip-bsml-form>
                </div>
            </div>
        </mip-bsml-widget>
        <mip-bsml-widget name="text-content" type="text-content" id="354418d6129180d6596704c7490213a6" ds="{}">
            <section class="only-text" id="bsmlStyle_comp_5_text-content1">
                <div class="only-text-text">
                    <div class="only-text-text-des">
                        <h2 class="only-text-text-title" id="bsmlStyle_comp_5_text-content2">
                            <font color="#bf002f" id="bsmlStyle_comp_5_text-content3">&gt;&gt; 英语教育专业</font>
                        </h2>
                        <div class="only-text-text-des" id="bsmlStyle_comp_5_text-content4">
                            <font id="bsmlStyle_comp_5_text-content2" id="bsmlStyle_comp_5_text-content5">所有课程面授地点均在北京外国语大学</font>
                        </div>
                    </div>
                </div>
            </section>
        </mip-bsml-widget>
        <mip-bsml-widget name="img-single" type="img-single" id="bcee033b3115baef441fc43d5f10ae54" ds="{}">
            <section class="single-img" id="bsmlStyle_comp_6_img-single1">
                <div class="single-img-box">
                    <mip-img prerender src="https:&#x2F;&#x2F;imagelib.cdn.bcebos.com&#x2F;cip_ml_pic183abbd9-a813-417f-a80b-9aacbf1aafc5.jpeg" />
                </div>
            </section>
        </mip-bsml-widget>
        <mip-bsml-widget name="text-content" type="text-content" id="9757c7c27a4e314abac965fcd9d15b3b" ds="{}">
            <section class="only-text" id="bsmlStyle_comp_7_text-content1">
                <div class="only-text-text">
                    <div class="only-text-text-des">
                        <h2 class="only-text-text-title" id="bsmlStyle_comp_7_text-content2">
                            <font color="#bf002f" id="bsmlStyle_comp_7_text-content3">&gt;&gt; 汉语教育专业</font>
                        </h2>
                    </div>
                </div>
            </section>
        </mip-bsml-widget>
        <mip-bsml-widget name="img-single" type="img-single" id="d889b5025a3b4b73228bbfefe26736a9" ds="{}">
            <section class="single-img" id="bsmlStyle_comp_8_img-single1">
                <div class="single-img-box">
                    <mip-img src="__CDN__/ldy_assets/static/images/cip_ml_pic18e14294-71c9-4871-84e4-6f653a140062.jpeg" />
                </div>
            </section>
        </mip-bsml-widget>
        <mip-bsml-widget name="img-single" type="img-single" id="466fd96d668fcae78f5b48ae28053ee4" ds="{}">
            <section class="single-img" id="bsmlStyle_comp_9_img-single1">
                <div class="single-img-box">
                    <mip-img src="__CDN__/ldy_assets/static/images/cip_ml_piccd8933eb-558d-4524-bbca-6b4b7606c4cc.jpeg" />
                </div>
            </section>
        </mip-bsml-widget>
        <mip-bsml-widget name="img-single" type="img-single" id="aca0d39baa8c6263f6bdf6905edc546e" ds="{}">
            <section class="single-img" id="bsmlStyle_comp_10_img-single1">
                <div class="single-img-box">
                    <mip-img src="__CDN__/ldy_assets/static/images/cip_ml_picdb135ed7-fa29-43f4-8e36-5b667e4c16da.jpeg" />
                </div>
            </section>
        </mip-bsml-widget>
        <mip-bsml-widget name="img-single" type="img-single" id="4690155b7e848d99a564616e3b6d10d5" ds="{}">
            <section class="single-img" id="bsmlStyle_comp_11_img-single1">
                <div class="single-img-box">
                    <mip-img src="__CDN__/ldy_assets/static/images/cip_ml_pic1605201a-45f7-4d75-a5b4-6d697d5f5d27.jpeg" />
                </div>
            </section>
        </mip-bsml-widget>
        <mip-bsml-widget name="text-content" type="text-content" id="25e6ef17418076c8a1ea0a573d12db21" ds="{}">
            <section class="only-text" id="bsmlStyle_comp_12_text-content1">
                <div class="only-text-text">
                    <div class="only-text-text-des">
                        <h2 class="only-text-text-title" id="bsmlStyle_comp_12_text-content2">
                            <font color="#bf002f" id="bsmlStyle_comp_12_text-content3">&gt;&gt; 教学特色</font>
                        </h2>
                    </div>
                </div>
            </section>
        </mip-bsml-widget>
        <mip-bsml-widget name="img-single" type="img-single" id="874af29485269cac038b1552a774281c" ds="{}">
            <section class="single-img" id="bsmlStyle_comp_13_img-single1">
                <div class="single-img-box">
                    <mip-img src="__CDN__/ldy_assets/static/images/cip_ml_pic7ab9c50e-6d2a-40cb-a3e6-d3b7394bb5e2.jpeg" />
                </div>
            </section>
        </mip-bsml-widget>
        <mip-bsml-widget name="img-single" type="img-single" id="243baea34c5ff366660af3516c35e94a" ds="{}">
            <section class="single-img" id="bsmlStyle_comp_14_img-single1">
                <div class="single-img-box">
                    <mip-img src="__CDN__/ldy_assets/static/images/cip_ml_pic8bbc7b9b-e2be-48c4-a045-608a1aa8d1fe.jpeg" />
                </div>
            </section>
        </mip-bsml-widget>
        <mip-bsml-widget name="text-content" type="text-content" id="993601596ecb17bdeb5259c83624110e" ds="{}">
            <section class="only-text" id="bsmlStyle_comp_15_text-content1">
                <div class="only-text-text">
                    <div class="only-text-text-des">
                        <h2 class="only-text-text-title" id="bsmlStyle_comp_15_text-content2">
                            <font color="#bf002f" id="bsmlStyle_comp_15_text-content3">&gt;&gt; 师资力量</font>
                        </h2>
                    </div>
                </div>
            </section>
        </mip-bsml-widget>
        <mip-bsml-widget name="img-single" type="img-single" id="1a91f5ed9322b587e48893d5838d69e8" ds="{}">
            <section class="single-img" id="bsmlStyle_comp_16_img-single1">
                <div class="single-img-box">
                    <mip-img src="__CDN__/ldy_assets/static/images/cip_ml_pic9b82a23b-11c9-4ad1-8ef0-c99a77e48fb0.jpeg" />
                </div>
            </section>
        </mip-bsml-widget>
        <mip-bsml-widget name="trans-form-blank-three" type="trans-form-blank" id="b5c9a79c9e5bb7576a91cc755017bcc8">
            <div class="trans-form-blank-three" id="bsmlStyle_comp_17_trans-form-blank-three1">
                <div class="bsml-form">
                    <mip-bsml-form data-count="{&quot;number&quot;:100,&quot;show&quot;:false,&quot;text&quot;:&quot;已经提交了{count}人&quot;,&quot;type&quot;:1}">
                        <h2 class="bsml-form-title" id="bsmlStyle_comp_17_trans-form-blank-three2">
                            <h2 class="bsml-form-title" id="bsmlStyle_comp_17_trans-form-blank-three3">
                                <h2 class="bsml-form-title" id="bsmlStyle_comp_4_trans-form-blank-three3" id="bsmlStyle_comp_17_trans-form-blank-three4">
                                    <font color="#bf002f" id="bsmlStyle_comp_17_trans-form-blank-three5">&gt;&gt;<span id="bsmlStyle_comp_17_trans-form-blank-three6">&nbsp;</span>我要报名&nbsp;</font>限有学位者,报名！
                                </h2>
                            </h2>
                        </h2>
                        <mip-form method="get" type="trans-form" url="">
                            <ul class="bsml-form-list">
                                <li><label>
                                        <div class="form-input"><input name="姓名" class="bsml-input bsml-input-name" type="text" placeholder="姓名" /></div>
                                    </label></li>
                                <li><label>
                                        <div class="form-input"><input placeholder="请输入您的手机号" maxlength="11" name="手机验证" class="bsml-input bsml-input-phone" type="text" /></div>
                                    </label></li>
                                <li><label>
                                        <div class="form-input"><input maxlength="11" name="手机验证" class="bsml-input bsml-input-phonecode" type="text" placeholder="请输入验证码" /></div><span class="bsml-input-phonecode-btn bsml-input-phonecode-n">获取验证码</span>
                                    </label><input type="hidden" class="bsml-input-phonecode-key" value=false></li>
                            </ul>
                            <div class="bsml-form-list-box">
                                <div class="bsml-form-list-submit" data-ucid="26896450" data-pageid="6927237" data-siteid="6930893" data-successurl="" data-failurl="" data-resubmit="" data-scrolltype="2" data-successhint="提交成功！北外老师将在2个工作日内回复！" data-successhint-show="true" data-scrolltype-show="false" data-jumpaddress-show="false" id="bsmlStyle_comp_17_trans-form-blank-three7">
                                    <div id="bsmlStyle_comp_17_trans-form-blank-three8">
                                        <font color="#ffffff"><span id="bsmlStyle_comp_17_trans-form-blank-three9">学费查询</span></font>
                                    </div>
                                </div>
                            </div>
                            <div class="bsml-form-tips"></div>
                        </mip-form>
                        <!-- 用于记录表单项是否必填 -->
                        <script class="require-list" type="application/json">
                        name: , phonecode: ,
                        </script>
                    </mip-bsml-form>
                </div>
            </div>
        </mip-bsml-widget>
        <mip-bsml-widget name="img-single" type="img-single" id="fd2b5ad634a1d8c7cc2a9fc4c7fa9d92" ds="{}">
            <section class="single-img" id="bsmlStyle_comp_18_img-single1">
                <div class="single-img-box">
                    <mip-img src="__CDN__/ldy_assets/static/images/cip_ml_piceb684d32-1cc8-4323-8f68-87c02a0ca894_cut.jpeg" />
                </div>
            </section>
        </mip-bsml-widget>
        <mip-bsml-widget name="text-content" type="text-content" id="5d90ee4b4650d48bce5e36d2e32ec5e6" ds="{}">
            <section class="only-text" id="bsmlStyle_comp_19_text-content1">
                <div class="only-text-text">
                    <div class="only-text-text-des">
                        <div id="bsmlStyle_comp_19_text-content2" id="bsmlStyle_comp_19_text-content2">
                            <font id="bsmlStyle_comp_19_text-content3" id="bsmlStyle_comp_19_text-content3"><b id="bsmlStyle_comp_19_text-content4" id="bsmlStyle_comp_19_text-content4">北京外国语大学课程研修班</b></font>
                        </div>
                        <div id="bsmlStyle_comp_19_text-content5" id="bsmlStyle_comp_19_text-content5">
                            <font id="bsmlStyle_comp_19_text-content6" id="bsmlStyle_comp_19_text-content6">Copyright 2019 All rights reserved.</font>
                        </div>
                    </div>
                </div>
            </section>
        </mip-bsml-widget>
        <mip-bsml-performance></mip-bsml-performance>
        <div class="site-pv"></div>
    </div>
    <script src="__CDN__/ldy_assets/static/js/mip.js"></script>
    <script src="__CDN__/ldy_assets/static/js/mip-bsml-widget.js"></script>
    <script src="__CDN__/ldy_assets/static/js/mip-bsml-form.js"></script>
    <script src="__CDN__/ldy_assets/static/js/mip-form.js"></script>
    <script src="__CDN__/ldy_assets/static/js/mip-bsml-performance.js"></script>
</body>

</html>