<!DOCTYPE html>
<html mip>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,user-scalable=no">
    <title>集翔网大在线辅导</title>
    <link rel="stylesheet" type="text/css" href="__CDN__/ldy_assets/static/css/mip.css">
    <link rel="stylesheet" type="text/css" href="__CDN__/ldy_assets/static/css/mip-custom09.css">
</head>

<body>
    <div class="body-wrapper">
        <div id="pageinfo" guid="tpl_udf_22294350_jiaoyupeixun_icon" pagename="page" isNewComponent="true" isNewFormOne="true" pagetype="index" pageid="5668406" siteid="5670359" sitetype="3" ucid="26714642" vpUcid="nWmLnHfvPjc" gfhid="" appid="3" subappid="255" domainName="https://sjh.baidu.com" followbarType="2">
        </div>
        <mip-bsml-widget name="img-single" type="img-single" id="a2179b364e9260a1ee5cfad4653f9720">
            <section class="single-img" id="bsmlStyle_comp_1_img-single1">
                <div class="single-img-box">
                    <mip-img prerender src="__CDN__/ldy_assets/static/images/cip_ml_pic5d85df1f-af8a-4832-bff2-9ee657458bd2.jpeg" />
                </div>
            </section>
        </mip-bsml-widget>
        <mip-bsml-widget name="img-single" type="img-single" id="fa7f0b8e671ec14e8898b83881977bc7" ds="{}">
            <section class="single-img" id="bsmlStyle_comp_2_img-single1">
                <div class="single-img-box">
                    <mip-img prerender src="__CDN__/ldy_assets/static/images/cip_ml_pica2152107-4dd0-4f6c-bf27-5b01810f4415.jpeg" />
                </div>
            </section>
        </mip-bsml-widget>
        <mip-bsml-widget name="trans-form-blank" type="trans-form-blank" id="19f7af8c6ccd50d0e41366b1ee3b8de9">
            <div class="trans-form-blank" id="bsmlStyle_comp_3_trans-form-blank1">
                <div class="bsml-form">
                    <mip-bsml-form data-count="{&quot;number&quot;:100,&quot;show&quot;:false,&quot;text&quot;:&quot;{count}套真题免费送，先到先得&quot;,&quot;type&quot;:1}">
                        <h2 class="bsml-form-title" id="bsmlStyle_comp_3_trans-form-blank2">
                        </h2>
                        <mip-form method="get" type="trans-form" url="">
                            <ul class="bsml-form-list">
                                <li><label><span>姓名</span>
                                        <div class="form-input"><input name="姓名" class="bsml-input" type="text" placeholder="" /></div>
                                    </label></li>
                                <li><label><span>电话</span>
                                        <div class="form-input"><input maxlength="11" name="电话" class="bsml-input bsml-input-phone" type="text" placeholder="" /></div>
                                    </label></li>
                                <li><label><span>年级</span>
                                        <div class="form-input">
                                            <div name="年级" class="bsml-singleselect-container" options="[{&quot;text&quot;:&quot;三年级&quot;,&quot;value&quot;:&quot;三年级&quot;},{&quot;text&quot;:&quot;四年级&quot;,&quot;value&quot;:&quot;四年级&quot;},{&quot;text&quot;:&quot;五年级&quot;,&quot;value&quot;:&quot;五年级&quot;},{&quot;text&quot;:&quot;六年级&quot;,&quot;value&quot;:&quot;六年级&quot;},{&quot;text&quot;:&quot;初一&quot;,&quot;value&quot;:&quot;初一&quot;},{&quot;text&quot;:&quot;初二&quot;,&quot;value&quot;:&quot;初二&quot;},{&quot;text&quot;:&quot;初三&quot;,&quot;value&quot;:&quot;初三&quot;},{&quot;text&quot;:&quot;高一&quot;,&quot;value&quot;:&quot;高一&quot;},{&quot;text&quot;:&quot;高二&quot;,&quot;value&quot;:&quot;高二&quot;},{&quot;text&quot;:&quot;高三&quot;,&quot;value&quot;:&quot;高三&quot;}]"></div>
                                        </div>
                                    </label></li>
                                <li><label><span>学科</span>
                                        <div class="form-input">
                                            <div name="学科" class="bsml-singleselect-container" options="[{&quot;text&quot;:&quot;语文&quot;,&quot;value&quot;:&quot;语文&quot;},{&quot;text&quot;:&quot;数学&quot;,&quot;value&quot;:&quot;数学&quot;},{&quot;text&quot;:&quot;英语&quot;,&quot;value&quot;:&quot;英语&quot;},{&quot;text&quot;:&quot;物理&quot;,&quot;value&quot;:&quot;物理&quot;},{&quot;text&quot;:&quot;化学&quot;,&quot;value&quot;:&quot;化学&quot;},{&quot;text&quot;:&quot;生物&quot;,&quot;value&quot;:&quot;生物&quot;},{&quot;text&quot;:&quot;地理&quot;,&quot;value&quot;:&quot;地理&quot;},{&quot;text&quot;:&quot;历史&quot;,&quot;value&quot;:&quot;历史&quot;},{&quot;text&quot;:&quot;政治&quot;,&quot;value&quot;:&quot;政治&quot;}]"></div>
                                        </div>
                                    </label></li>
                            </ul>
                            <div class="bsml-form-list-box">
                                <div class="bsml-form-list-submit" data-ucid="26714642" data-pageid="5668406" data-siteid="5670359" data-successurl="" data-failurl="" data-resubmit="" data-scrolltype="2" data-successhint="提交成功！" data-successhint-show="false" data-scrolltype-show="false" data-jumpaddress-show="false" id="bsmlStyle_comp_3_trans-form-blank3">
                                    <div id="bsmlStyle_comp_3_trans-form-blank4"><span id="bsmlStyle_comp_3_trans-form-blank5"><b>
                                                <font id="bsmlStyle_comp_3_trans-form-blank6">免费预约试听</font>
                                            </b></span></div>
                                </div>
                            </div>
                            <div class="bsml-form-tips"></div>
                        </mip-form>
                        <!-- 用于记录表单项是否必填 -->
                        <script class="require-list" type="application/json">
                        text: , phone: , singleselect: true, singleselect: true,
                        </script>
                    </mip-bsml-form>
                </div>
            </div>
        </mip-bsml-widget>
        <mip-bsml-widget name="img-single" type="img-single" id="60d02f3602a602ce7c901c8b538d3957">
            <section class="single-img" id="bsmlStyle_comp_4_img-single1">
                <div class="single-img-box">
                    <mip-img prerender src="__CDN__/ldy_assets/static/images/cip_ml_pic017bb47d-855c-4bf3-ab5d-ca0ea9da2a8c.jpeg" />
                </div>
            </section>
        </mip-bsml-widget>
        <mip-bsml-widget name="img-single" type="img-single" id="8d6e5c21e22ff116d5a9e3bbf16af3de">
            <section class="single-img" id="bsmlStyle_comp_5_img-single1">
                <div class="single-img-box">
                    <mip-img src="__CDN__/ldy_assets/static/images/cip_ml_pic92cb6a12-6878-4134-8cd9-0de160495cd2.jpeg" />
                </div>
            </section>
        </mip-bsml-widget>
        <mip-bsml-widget name="img-single" type="img-single" id="8a53a6f81b501b7285836aec44bbe0f6" ds="{}">
            <section class="single-img" id="bsmlStyle_comp_6_img-single1">
                <div class="single-img-box">
                    <mip-img src="__CDN__/ldy_assets/static/images/cip_ml_picdd245cd8-ca03-41e4-8274-2a13bf43f51b.jpeg" />
                </div>
            </section>
        </mip-bsml-widget>
        <mip-bsml-widget name="img-single" type="img-single" id="c555bcdb8a14f549e5e62c45a49c5d06">
            <section class="single-img" id="bsmlStyle_comp_7_img-single1">
                <div class="single-img-box">
                    <mip-img src="__CDN__/ldy_assets/static/images/cip_ml_pice861fbdb-da96-488f-ad1a-167029df7ef8.jpeg" />
                </div>
            </section>
        </mip-bsml-widget>
        <mip-bsml-widget name="trans-form-blank" type="trans-form-blank" id="913654618f834ac1d198447a7b95a835">
            <div class="trans-form-blank" id="bsmlStyle_comp_8_trans-form-blank1">
                <div class="bsml-form">
                    <mip-bsml-form data-count="{&quot;number&quot;:100,&quot;show&quot;:false,&quot;text&quot;:&quot;{count}套真题免费送，先到先得&quot;,&quot;type&quot;:1}">
                        <h2 class="bsml-form-title" id="bsmlStyle_comp_8_trans-form-blank2">
                        </h2>
                        <mip-form method="get" type="trans-form" url="">
                            <ul class="bsml-form-list">
                                <li><label><span>姓名</span>
                                        <div class="form-input"><input name="姓名" class="bsml-input" type="text" placeholder="" /></div>
                                    </label></li>
                                <li><label><span>电话</span>
                                        <div class="form-input"><input maxlength="11" name="电话" class="bsml-input bsml-input-phone" type="text" placeholder="" /></div>
                                    </label></li>
                                <li><label><span>年级</span>
                                        <div class="form-input">
                                            <div name="年级" class="bsml-singleselect-container" options="[{&quot;text&quot;:&quot;三年级&quot;,&quot;value&quot;:&quot;三年级&quot;},{&quot;text&quot;:&quot;四年级&quot;,&quot;value&quot;:&quot;四年级&quot;},{&quot;text&quot;:&quot;五年级&quot;,&quot;value&quot;:&quot;五年级&quot;},{&quot;text&quot;:&quot;六年级&quot;,&quot;value&quot;:&quot;六年级&quot;},{&quot;text&quot;:&quot;初一&quot;,&quot;value&quot;:&quot;初一&quot;},{&quot;text&quot;:&quot;初二&quot;,&quot;value&quot;:&quot;初二&quot;},{&quot;text&quot;:&quot;初三&quot;,&quot;value&quot;:&quot;初三&quot;},{&quot;text&quot;:&quot;高一&quot;,&quot;value&quot;:&quot;高一&quot;},{&quot;text&quot;:&quot;高二&quot;,&quot;value&quot;:&quot;高二&quot;},{&quot;text&quot;:&quot;高三&quot;,&quot;value&quot;:&quot;高三&quot;}]"></div>
                                        </div>
                                    </label></li>
                                <li><label><span>学科</span>
                                        <div class="form-input">
                                            <div name="学科" class="bsml-singleselect-container" options="[{&quot;text&quot;:&quot;语文&quot;,&quot;value&quot;:&quot;语文&quot;},{&quot;text&quot;:&quot;数学&quot;,&quot;value&quot;:&quot;数学&quot;},{&quot;text&quot;:&quot;英语&quot;,&quot;value&quot;:&quot;英语&quot;},{&quot;text&quot;:&quot;物理&quot;,&quot;value&quot;:&quot;物理&quot;},{&quot;text&quot;:&quot;化学&quot;,&quot;value&quot;:&quot;化学&quot;},{&quot;text&quot;:&quot;生物&quot;,&quot;value&quot;:&quot;生物&quot;},{&quot;text&quot;:&quot;地理&quot;,&quot;value&quot;:&quot;地理&quot;},{&quot;text&quot;:&quot;历史&quot;,&quot;value&quot;:&quot;历史&quot;},{&quot;text&quot;:&quot;政治&quot;,&quot;value&quot;:&quot;政治&quot;}]"></div>
                                        </div>
                                    </label></li>
                            </ul>
                            <div class="bsml-form-list-box">
                                <div class="bsml-form-list-submit" data-ucid="26714642" data-pageid="5668406" data-siteid="5670359" data-successurl="" data-failurl="" data-resubmit="" data-scrolltype="1" data-successhint="提交成功！" data-successhint-show="false" data-scrolltype-show="true" data-jumpaddress-show="false" id="bsmlStyle_comp_8_trans-form-blank3">
                                    <div id="bsmlStyle_comp_8_trans-form-blank4"><span id="bsmlStyle_comp_8_trans-form-blank5">免费预约试听</span><br></div>
                                </div>
                            </div>
                            <div class="bsml-form-tips"></div>
                        </mip-form>
                        <!-- 用于记录表单项是否必填 -->
                        <script class="require-list" type="application/json">
                        text: , phone: , singleselect: true, singleselect: true,
                        </script>
                    </mip-bsml-form>
                </div>
            </div>
        </mip-bsml-widget>
        <mip-bsml-performance></mip-bsml-performance>
        <div class="site-pv"></div>
    </div>
    <script src="__CDN__/ldy_assets/static/js/mip.js"></script>
    <script src="__CDN__/ldy_assets/static/js/mip-bsml-widget.js"></script>
    <script src="__CDN__/ldy_assets/static/js/mip-bsml-form.js"></script>
    <script src="__CDN__/ldy_assets/static/js/mip-form.js"></script>
    <script src="__CDN__/ldy_assets/static/js/mip-bsml-performance.js"></script>
</body>

</html>