@font-face {
    /* font-family: '瀹嬩綋'; */
    font-family: 'simsun';
    src: local("simsun"), url('https://gss2.baidu.com/9rgTaXSm2Q5IlBGlnYG/laser/static/static/font/simsun.ttf');
}

@font-face {
    /* font-family: '榛戜綋'; */
    font-family: 'simhei';
    src: local("simhei"), url('https://gss2.baidu.com/9rgTaXSm2Q5IlBGlnYG/laser/static/static/font/simhei.ttf');
}

@font-face {
    /* font-family: '闅朵功'; */
    font-family: 'SIMLI';
    src: local("LiSu"), url('https://gss2.baidu.com/9rgTaXSm2Q5IlBGlnYG/laser/static/static/font/SIMLI.ttf');
}

@font-face {
    /* font-family: '妤蜂綋'; */
    font-family: 'simkai';
    src: local("KaiTi"), url('https://gss2.baidu.com/9rgTaXSm2Q5IlBGlnYG/laser/static/static/font/simkai.ttf');
}

@font-face {
    /* font-family: '骞煎渾'; */
    font-family: 'SIMYOU';
    src: local("YouYuan"), url('https://gss2.baidu.com/9rgTaXSm2Q5IlBGlnYG/laser/static/static/font/SIMYOU.ttf');
}

@font-face {
    /* font-family: '鍗庢枃琛屾シ'; */
    font-family: 'STXINGKA';
    src: local('STXingkai'), url('https://gss2.baidu.com/9rgTaXSm2Q5IlBGlnYG/laser/static/static/font/STXINGKA.ttf');
}

@font-face {
    /* font-family: '寰蒋闆呴粦'; */
    font-family: 'msyh';
    src: local("microsoft yahei"), url('https://gss2.baidu.com/9rgTaXSm2Q5IlBGlnYG/laser/static/static/font/msyh.ttf');
}

@font-face {
    /* font-family: 'Arial'; */
    font-family: 'arial';
    src: local("arial"), url('https://gss2.baidu.com/9rgTaXSm2Q5IlBGlnYG/laser/static/static/font/arial.ttf');
}

@font-face {
    font-family: 'impact';
    src: url('https://gss2.baidu.com/9rgTaXSm2Q5IlBGlnYG/laser/static/static/font/impact.ttf');
}

@font-face {
    /* font-family: 'bell mt'; */
    font-family: 'BELL';
    src: url('https://gss2.baidu.com/9rgTaXSm2Q5IlBGlnYG/laser/static/static/font/BELL.ttf');
}

@font-face {
    /* font-family: 'berlin sans fb'; */
    font-family: 'BRLNSB';
    src: url('https://gss2.baidu.com/9rgTaXSm2Q5IlBGlnYG/laser/static/static/font/BRLNSB.ttf');
}

@font-face {
    /* font-family: 'times new roman'; */
    font-family: 'times';
    src: local("times new roman"), url('https://gss2.baidu.com/9rgTaXSm2Q5IlBGlnYG/laser/static/static/font/times.ttf');
}

@font-face {
    /* font-family: 'centry gothic'; */
    font-family: 'GOTHIC';
    src: url('https://gss2.baidu.com/9rgTaXSm2Q5IlBGlnYG/laser/static/static/font/GOTHIC.ttf');
}

@font-face {
    font-family: 'helvetica';
    src: url('https://gss2.baidu.com/9rgTaXSm2Q5IlBGlnYG/laser/static/static/font/helvetica.ttf');
}

@font-face {
    /* font-family: '鏂规鍖楅瓘妤蜂功绠€浣�'; */
    font-family: 'FZBWKSJT';
    src: url('https://gss2.baidu.com/9rgTaXSm2Q5IlBGlnYG/laser/static/static/font/FZBWKSJT.ttf');
}

@font-face {
    /* font-family: '鏂规闈欒暰绠€浣�'; */
    font-family: 'FZJLJT';
    src: url('https://gss2.baidu.com/9rgTaXSm2Q5IlBGlnYG/laser/static/static/font/FZJLJT.ttf');
}

@font-face {
    /* font-family: '鏂规鍗氶泤瀹嬬畝浣�'; */
    font-family: 'FZBYSJT';
    src: url('https://gss2.baidu.com/9rgTaXSm2Q5IlBGlnYG/laser/static/static/font/FZBYSJT.ttf');
}

@font-face {
    /* font-family: '鏂规瓒呯矖榛戠畝浣�'; */
    font-family: 'FZCCHJT';
    src: url('https://gss2.baidu.com/9rgTaXSm2Q5IlBGlnYG/laser/static/static/font/FZCCHJT.ttf');
}

@font-face {
    /* font-family: '鏂规绮楅粦瀹嬬畝浣�'; */
    font-family: 'FZCHSJT';
    src: url('https://gss2.baidu.com/9rgTaXSm2Q5IlBGlnYG/laser/static/static/font/FZCHSJT.ttf');
}

@font-face {
    /* font-family: '鏂规绮楀渾绻佷綋'; */
    font-family: 'FZCYFT';
    src: url('https://gss2.baidu.com/9rgTaXSm2Q5IlBGlnYG/laser/static/static/font/FZCYFT.ttf');
}

@font-face {
    /* font-family: '鏂规绮楀渾绠€浣�'; */
    font-family: 'FZCYJT';
    src: url('https://gss2.baidu.com/9rgTaXSm2Q5IlBGlnYG/laser/static/static/font/FZCYJT.ttf');
}

@font-face {
    /* font-family: '鏂规姹夌湡骞挎爣绠€浣�'; */
    font-family: 'FZHZGBJT';
    src: url('https://gss2.baidu.com/9rgTaXSm2Q5IlBGlnYG/laser/static/static/font/FZHZGBJT.ttf');
}

@font-face {
    /* font-family: '鏂规榛戜綋绻佷綋'; */
    font-family: 'FZHTFT';
    src: url('https://gss2.baidu.com/9rgTaXSm2Q5IlBGlnYG/laser/static/static/font/FZHTFT.ttf');
}

@font-face {
    /* font-family: '鏂规鍓焊绠€浣�'; */
    font-family: 'FZJZJT';
    src: url('https://gss2.baidu.com/9rgTaXSm2Q5IlBGlnYG/laser/static/static/font/FZJZJT.ttf');
}

@font-face {
    /* font-family: '鏂规鍏颁涵鍒婇粦绠€浣�'; */
    font-family: 'FZLTKHJT';
    src: url('https://gss2.baidu.com/9rgTaXSm2Q5IlBGlnYG/laser/static/static/font/FZLTKHJT.ttf');
}

@font-face {
    /* font-family: '鏂规鍏颁涵鐗归粦绠€浣�'; */
    font-family: 'FZLTTHJT';
    src: url('https://gss2.baidu.com/9rgTaXSm2Q5IlBGlnYG/laser/static/static/font/FZLTTHJT.ttf');
}

@font-face {
    /* font-family: '鏂规鍏颁涵涓粦绠€浣�'; */
    font-family: 'FZLTZHJT';
    src: url('https://gss2.baidu.com/9rgTaXSm2Q5IlBGlnYG/laser/static/static/font/FZLTZHJT.ttf');
}

@font-face {
    /* font-family: '鏂规鍚曞缓寰疯妤风畝浣�'; */
    font-family: 'FZLJDXKJT';
    src: url('https://gss2.baidu.com/9rgTaXSm2Q5IlBGlnYG/laser/static/static/font/FZLJDXKJT.ttf');
}

@font-face {
    /* font-family: '鏂规鐗圭矖鍏夎緣绠€浣�'; */
    font-family: 'FZTCGHJT';
    src: url('https://gss2.baidu.com/9rgTaXSm2Q5IlBGlnYG/laser/static/static/font/FZTCGHJT.ttf');
}

@font-face {
    /* font-family: '鏂规閾佺瓔闅朵功绠€浣�'; */
    font-family: 'FZTJLSJT';
    src: url('https://gss2.baidu.com/9rgTaXSm2Q5IlBGlnYG/laser/static/static/font/FZTJLSJT.ttf');
}

@font-face {
    /* font-family: '鏂规鏂扮涓界箒浣�'; */
    font-family: 'FZXXLFT';
    src: url('https://gss2.baidu.com/9rgTaXSm2Q5IlBGlnYG/laser/static/static/font/FZXXLFT.ttf');
}

@font-face {
    /* font-family: '鏂规纭瑪妤蜂功绠€浣�'; */
    font-family: 'FZYBKSJT';
    src: url('https://gss2.baidu.com/9rgTaXSm2Q5IlBGlnYG/laser/static/static/font/FZYBKSJT.ttf');
}

@font-face {
    /* font-family: '鏂规姝ｅぇ榛戠畝浣�'; */
    font-family: 'FZZDHJT';
    src: url('https://gss2.baidu.com/9rgTaXSm2Q5IlBGlnYG/laser/static/static/font/FZZDHJT.ttf');
}

@font-face {
    /* font-family: '鏂规姝ｉ粦绠€浣�'; */
    font-family: 'FZZHJT';
    src: url('https://gss2.baidu.com/9rgTaXSm2Q5IlBGlnYG/laser/static/static/font/FZZHJT.ttf');
}

@font-face {
    /* font-family: '鏂规姝ｄ腑榛戠畝浣�'; */
    font-family: 'FZZZHJT';
    src: url('https://gss2.baidu.com/9rgTaXSm2Q5IlBGlnYG/laser/static/static/font/FZZZHJT.ttf');
}

@font-face {
    /* font-family: '鏂规鍑嗗渾绻佷綋'; */
    font-family: 'FZZYFT';
    src: url('https://gss2.baidu.com/9rgTaXSm2Q5IlBGlnYG/laser/static/static/font/FZZYFT.ttf');
}

@font-face {
    /* font-family: '鏂规鍑嗗渾绠€浣�'; */
    font-family: 'FZZYJT';
    src: url('https://gss2.baidu.com/9rgTaXSm2Q5IlBGlnYG/laser/static/static/font/FZZYJT.ttf');
}
