<style mip-custom>
html {
    font-size: 16px !important;
}

.site-pv {
    width: 0;
    background-image: url("");
}

* {
    -webkit-tap-highlight-color: transparent
}

html {
    font-size: 16px !important
}

@media (max-width:375px) {
    html {
        font-size: 15px !important
    }
}

@media (max-width:320px) {
    html {
        font-size: 13px !important
    }
}

.body-wrapper {
    background-color: #f1f1f1 !important;
    color: #333
}

a {
    color: #333;
    text-decoration: none
}

.top-bottom-1px {
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent
}

@media only screen and (-webkit-min-device-pixel-ratio:2),
only screen and (min-device-pixel-ratio:2) {
    .top-bottom-1px {
        border: none;
        background-image: -webkit-linear-gradient(90deg, transparent, transparent 50%, transparent 50%), -webkit-linear-gradient(180deg, transparent, transparent 50%, transparent 50%), -webkit-linear-gradient(90deg, transparent, transparent 50%, transparent 50%), -webkit-linear-gradient(0, transparent, transparent 50%, transparent 50%);
        background-image: linear-gradient(180deg, transparent, transparent 50%, transparent 50%), linear-gradient(270deg, transparent, transparent 50%, transparent 50%), linear-gradient(0deg, transparent, transparent 50%, transparent 50%), linear-gradient(90deg, transparent, transparent 50%, transparent 50%);
        background-size: 100% 1px, 1px 100%, 100% 1px, 1px 100%;
        background-repeat: no-repeat;
        background-position: top, right top, bottom, left top
    }
}

.top-1px {
    border-top: 1px solid transparent
}

@media only screen and (-webkit-min-device-pixel-ratio:2),
only screen and (min-device-pixel-ratio:2) {
    .top-1px {
        border: none;
        background-image: -webkit-linear-gradient(90deg, transparent, transparent 50%, transparent 50%);
        background-image: linear-gradient(180deg, transparent, transparent 50%, transparent 50%);
        background-size: 100% 1px;
        background-repeat: no-repeat;
        background-position: top
    }
}

.right-1px {
    border-right: 1px solid transparent
}

@media only screen and (-webkit-min-device-pixel-ratio:2),
only screen and (min-device-pixel-ratio:2) {
    .right-1px {
        border: none;
        background-image: -webkit-linear-gradient(180deg, transparent, transparent 50%, transparent 50%);
        background-image: linear-gradient(270deg, transparent, transparent 50%, transparent 50%);
        background-size: 1px 100%;
        background-repeat: no-repeat;
        background-position: right
    }
}

.bottom-1px {
    border-bottom: 1px solid transparent
}

@media only screen and (-webkit-min-device-pixel-ratio:2),
only screen and (min-device-pixel-ratio:2) {
    .bottom-1px {
        border: none;
        background-image: -webkit-linear-gradient(90deg, transparent, transparent 50%, transparent 50%);
        background-image: linear-gradient(0deg, transparent, transparent 50%, transparent 50%);
        background-size: 100% 1px;
        background-repeat: no-repeat;
        background-position: bottom
    }
}

.left-1px {
    border-left: 1px solid transparent
}

@media only screen and (-webkit-min-device-pixel-ratio:2),
only screen and (min-device-pixel-ratio:2) {
    .left-1px {
        border: none;
        background-image: -webkit-linear-gradient(0deg, transparent, transparent 50%, transparent 50%);
        background-image: linear-gradient(90deg, transparent, transparent 50%, transparent 50%);
        background-size: 1px 100%;
        background-repeat: no-repeat;
        background-position: left
    }
}

.nuomi-tag {
    display: inline-block;
    padding: 0 5px;
    box-sizing: border-box;
    line-height: 21.3px;
    color: #fa4982;
    border-radius: 2px;
    border: 1px solid #fa4982;
    font-size: 12px;
    transform: scale(.75);
    transform-origin: 50% 50%;
    transform-origin: 100% 0
}

.icon-triangle-down,
.icon-triangle-up {
    height: 0;
    border-left: 1px dashed transparent;
    border-right: 1px dashed transparent;
    overflow: hidden;
    width: 0
}

.icon-arrow-down,
.icon-triangle-up {
    border-bottom: 1px solid transparent
}

.icon-arrow-left,
.icon-arrow-right,
.icon-arrow-up,
.icon-triangle-down {
    border-top: 1px solid transparent
}

.box-sizing {
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

.flexbox {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex
}

.flex {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1
}

.align-items {
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-align: center;
    box-align: center
}

.justify-content {
    justify-content: center
}

.icon-arrow-down,
.icon-arrow-left,
.icon-arrow-up {
    width: 8px;
    height: 8px;
    border-left: 1px solid transparent
}

.icon-arrow-right {
    width: 8px;
    height: 8px;
    border-right: 1px solid transparent;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
}

.icon-arrow-down,
.icon-arrow-left {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.icon-arrow-up {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
}

.body-wrapper {
    padding-bottom: 3.125rem
}

.trans-fixed-bar-blank .mip-bsml-fixed-bar {
    width: 100%
}

.trans-fixed-bar-blank .mip-bsml-fixed-bar-box {
    background: rgba(255, 255, 255, .9);
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex
}

.trans-fixed-bar-blank .mip-bsml-fixed-bar-box-appointment,
.trans-fixed-bar-blank .mip-bsml-fixed-bar-box-consult,
.trans-fixed-bar-blank .mip-bsml-fixed-bar-box-phone {
    display: block;
    overflow: hidden;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    font-size: .875rem
}

.trans-fixed-bar-blank .mip-bsml-fixed-bar-box-phone a {
    overflow: hidden;
    color: #fff;
    display: inline-block;
    width: 100%;
    height: 3rem;
    background-color: #ffb54c
}

.trans-fixed-bar-blank .mip-bsml-fixed-bar-box-consult a {
    display: inline-block;
    background-color: #fff;
    width: 100%;
    height: 3rem;
    color: #333
}

.trans-fixed-bar-blank .mip-bsml-fixed-bar-box-appointment {
    background-color: #f33531;
    color: #fff
}

.trans-fixed-bar-blank .mip-bsml-fixed-bar .bsml-form-lay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3)
}

.trans-fixed-bar-blank .mip-bsml-fixed-bar .bsml-form {
    position: fixed;
    bottom: -50rem;
    left: 0;
    z-index: 999999;
    width: 100%;
    background-color: #fff;
    padding-bottom: 1.25rem;
    max-height: 80%;
    overflow-y: auto
}

.trans-fixed-bar-blank .mip-bsml-fixed-bar .bsml-form-title {
    text-align: center;
    padding: 1rem 0;
    font-size: 1.125rem
}

.trans-fixed-bar-blank .mip-bsml-fixed-bar .bsml-form-count {
    padding-left: 1rem;
    font-size: .75rem;
    padding-bottom: 1.063rem;
    color: #666
}

.trans-fixed-bar-blank .mip-bsml-fixed-bar .bsml-form-close {
    position: absolute;
    background: url(./static/images/icon2.png) no-repeat;
    width: 1rem;
    height: 1rem;
    background-size: 100%;
    right: 1rem;
    top: .625rem
}

.trans-fixed-bar-blank .mip-bsml-fixed-bar .bsml-form-list label {
    text-align: left;
    font-size: 1rem;
    margin-bottom: .75rem;
    padding: 0 1rem;
    display: -webkit-flex;
    display: flex
}

.trans-fixed-bar-blank .mip-bsml-fixed-bar .bsml-form-list label input.bsml-input-phonecode {
    width: 60%;
    float: left
}

.trans-fixed-bar-blank .mip-bsml-fixed-bar .bsml-form-list label span.bsml-input-phonecode-btn {
    width: 34%;
    text-align: center;
    background: #fff;
    margin-left: 5%;
    line-height: 2.25rem;
    border: 1px solid #f1f1f1;
    font-size: 14px
}

.mip-bsml-fixed-bar .bsml-form-list label span.bsml-input-phonecode-n,
.trans-fixed-bar-blank .mip-bsml-fixed-bar .bsml-form-list label span.codeing {
    background: #f8f8f8
}

.trans-fixed-bar-blank .mip-bsml-fixed-bar .bsml-input.bsml-input-phone-care {
    border: 1px solid #c00;
    background: url(./static/images/bsml-form-care.png) 95% 7px no-repeat;
    background-size: 24px 24px
}

.trans-fixed-bar-blank .mip-bsml-fixed-bar .bsml-multiselect,
.trans-fixed-bar-blank .mip-bsml-fixed-bar .bsml-singleselect {
    height: 2.375rem;
    line-height: 2.375rem;
    font-size: 1rem;
    background: #fff;
    outline: 0;
    color: #999;
    margin-left: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none
}

.trans-fixed-bar-blank .mip-bsml-fixed-bar .bsml-form-list label span {
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    line-height: 2.375rem;
    text-overflow: ellipsis;
    display: inline-block;
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    flex: 2
}

.trans-fixed-bar-blank .mip-bsml-fixed-bar .form-input {
    padding: 0;
    height: 2.375rem;
    line-height: 2.375rem;
    color: #999;
    font-size: 1rem;
    -webkit-box-flex: 8;
    -webkit-flex: 8;
    flex: 8;
    display: block
}

.trans-fixed-bar-blank .mip-bsml-fixed-bar .form-input>div {
    display: block;
    padding: 0;
    margin: 0
}

.trans-fixed-bar-blank .mip-bsml-fixed-bar .bsml-date,
.trans-fixed-bar-blank .mip-bsml-fixed-bar .bsml-input,
.trans-fixed-bar-blank .mip-bsml-fixed-bar .bsml-multiselect,
.trans-fixed-bar-blank .mip-bsml-fixed-bar .bsml-singleselect {
    margin: 0
}

.trans-fixed-bar-blank .mip-bsml-fixed-bar .bsml-singleselect {
    width: 100%;
    padding: 0 1.063rem;
    border: 1px solid #f1f1f1;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

.trans-fixed-bar-blank .mip-bsml-fixed-bar .bsml-multiselect {
    padding: 0;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

.trans-fixed-bar-blank .mip-bsml-fixed-bar .bsml-multiselect .bsml-multiselect {
    border: 0
}

.trans-fixed-bar-blank .mip-bsml-fixed-bar .bsml-date,
.trans-fixed-bar-blank .mip-bsml-fixed-bar .bsml-input {
    width: 100%;
    border: 1px solid #f1f1f1;
    height: 38px;
    line-height: 38px;
    padding: 0 17px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #999;
    font-size: 14px
}

.trans-fixed-bar-blank .mip-bsml-fixed-bar .bsml-date {
    margin-left: 0
}

.trans-fixed-bar-blank .mip-bsml-fixed-bar input[type=date] {
    width: 100% !important;
    background: 0 0 !important;
    -webkit-tap-highlight-color: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 0 0 0 1.063rem
}

.trans-fixed-bar-blank .mip-bsml-fixed-bar input[type=text] {
    -webkit-tap-highlight-color: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    text-shadow: none;
    -webkit-appearance: none;
    -webkit-user-select: text;
    box-shadow: none;
    outline: transparent 0
}

.trans-fixed-bar-blank .mip-bsml-fixed-bar .bsml-form-list-box {
    display: block;
    padding: .625rem 1rem 0
}

.trans-fixed-bar-blank .mip-bsml-fixed-bar .bsml-form-list-submit {
    padding: 0;
    display: block;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    font-size: .875rem;
    background-color: #ff6d39;
    color: #fff
}

.trans-fixed-bar-blank .mip-bsml-fixed-bar .bsml-form-tips {
    display: none;
    position: absolute;
    width: 120px;
    height: 3.75rem;
    line-height: 3.75rem;
    text-align: center;
    font-size: .75rem;
    color: #fff;
    bottom: 30%;
    left: 50%;
    margin-left: -80px;
    z-index: 999;
    border-radius: 5px;
    background: rgba(0, 0, 0, .3);
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    text-overflow: ellipsis
}

.trans-fixed-bar-blank .mip-bsml-fixed-bar .bsml-multiselect:before,
.trans-fixed-bar-blank .mip-bsml-fixed-bar .bsml-singleselect-container:before {
    top: 50%;
    height: 8px;
    width: 8px;
    right: 12px;
    margin-top: -8px;
    border-top: 1px solid #999;
    border-right: 1px solid #999;
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    content: ''
}

.trans-fixed-bar-blank .mip-bsml-fixed-bar .bsml-singleselect-container {
    position: relative
}

.trans-fixed-bar-blank .mip-bsml-fixed-bar .bsml-singleselect-container:before {
    position: absolute;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg)
}

.trans-fixed-bar-blank .mip-bsml-fixed-bar .bsml-multiselect {
    position: relative
}

.trans-fixed-bar-blank .mip-bsml-fixed-bar .bsml-multiselect:before {
    position: absolute;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg)
}

.trans-fixed-bar-blank .bsml-input-select {
    -webkit-appearance: none;
    background: url(./static/images/downIcon.png) 95% 55% no-repeat #fff;
    background-size: .813rem .438rem;
    border-radius: 0
}

.trans-fixed-bar-blank .trans-fixed-bar-blank-guide {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 20%;
    box-shadow: 0 .083rem .25rem rgba(0, 0, 0, .2);
    position: relative;
    padding: .938rem .938rem .313rem;
    margin-right: .625rem;
    border-radius: .25rem;
    margin-bottom: .625rem;
    font-size: 14px;
    color: #555;
    background: #fff
}

.trans-fixed-bar-blank .trans-fixed-bar-blank-guide:after {
    position: absolute;
    display: inline-block;
    bottom: -.25rem;
    right: 1.5rem;
    width: 0;
    height: 0;
    content: '';
    border-style: solid;
    border-width: .25rem;
    border-color: #fff;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    box-shadow: .083rem -.083rem .25rem rgba(0, 0, 0, .2);
    background: #fff
}

.trans-fixed-bar-blank .trans-fixed-bar-blank-guide .detail-rich-text p {
    padding-bottom: .625rem
}

.trans-fixed-bar-blank .trans-fixed-bar-blank-close {
    position: absolute;
    background: url(./static/images/icon2.png) no-repeat;
    width: .75rem;
    height: .75rem;
    background-size: 100%;
    top: .688rem;
    right: 1.313rem;
    margin: .25rem;
    color: #000
}

#bsmlStyle_comp_1_senior-nichang1 {
    height: 2074px;
    background: #fff
}

#bsmlStyle_comp_1_senior-nichang2 {
    width: 80.65px;
    height: 25px;
    left: 0;
    top: 6px;
    z-index: 2;
    transform: rotate(0);
    -webkit-transform: rotate(0)
}

#bsmlStyle_comp_1_senior-nichang3,
#bsmlStyle_comp_1_senior-nichang6,
#bsmlStyle_comp_1_senior-nichang63,
#bsmlStyle_comp_1_senior-nichang66,
#bsmlStyle_comp_1_senior-nichang69,
#bsmlStyle_comp_1_senior-nichang9 {
    width: 100%;
    height: 100%
}

#bsmlStyle_comp_1_senior-nichang4 {
    border-radius: 0;
    border: none;
    width: 80.65px;
    height: 25px;
    top: 0;
    left: 0;
    opacity: 1
}

#bsmlStyle_comp_1_senior-nichang5 {
    width: 415px;
    height: 346px;
    left: -.02px;
    top: -3px;
    z-index: 3;
    transform: rotate(0);
    -webkit-transform: rotate(0)
}

#bsmlStyle_comp_1_senior-nichang7 {
    border-radius: 0;
    border: none;
    width: 415px;
    height: 346px;
    top: 0;
    left: 0;
    opacity: 1
}

#bsmlStyle_comp_1_senior-nichang8 {
    width: 416.98px;
    height: 472.02px;
    left: 0;
    top: 656px;
    z-index: 8;
    transform: rotate(0);
    -webkit-transform: rotate(0)
}

#bsmlStyle_comp_1_senior-nichang10 {
    border-radius: 0;
    border: none;
    width: 416.98px;
    height: 472.02px;
    top: 0;
    left: 0;
    opacity: 1
}

#bsmlStyle_comp_1_senior-nichang11 {
    width: 414px;
    height: auto;
    left: 0;
    top: 338px;
    z-index: 14;
    transform: rotate(0);
    -webkit-transform: rotate(0)
}

#bsmlStyle_comp_1_senior-nichang12,
#bsmlStyle_comp_1_senior-nichang46 {
    background-color: rgba(255, 255, 255, 1);
    width: 414px;
    padding-top: 5px;
    padding-bottom: 14px
}

#bsmlStyle_comp_1_senior-nichang13,
#bsmlStyle_comp_1_senior-nichang47 {
    border-width: 1px;
    border-top-color: transparent;
    border-bottom-color: transparent
}

#bsmlStyle_comp_1_senior-nichang34,
#bsmlStyle_comp_1_senior-nichang39,
#bsmlStyle_comp_1_senior-nichang42,
#bsmlStyle_comp_1_senior-nichang51,
#bsmlStyle_comp_1_senior-nichang56,
#bsmlStyle_comp_1_senior-nichang59 {
    background-color: rgba(255, 255, 255, 1);
    border-width: 1px;
    border-color: rgba(209, 209, 209, 1);
    border-style: solid
}

#bsmlStyle_comp_1_senior-nichang14 {
    width: 300px;
    height: auto;
    margin-bottom: 14px;
    margin-top: 7px
}

#bsmlStyle_comp_1_senior-nichang15,
#bsmlStyle_comp_1_senior-nichang23,
#bsmlStyle_comp_1_senior-nichang32,
#bsmlStyle_comp_1_senior-nichang49 {
    width: 100px;
    font-size: 14px;
    color: #666
}

#bsmlStyle_comp_1_senior-nichang16,
#bsmlStyle_comp_1_senior-nichang24,
#bsmlStyle_comp_1_senior-nichang33,
#bsmlStyle_comp_1_senior-nichang40,
#bsmlStyle_comp_1_senior-nichang50,
#bsmlStyle_comp_1_senior-nichang57 {
    font-size: 14px;
    color: #666;
    text-align: left
}

#bsmlStyle_comp_1_senior-nichang17,
#bsmlStyle_comp_1_senior-nichang25 {
    margin-left: 115px;
    min-height: 46px
}

#bsmlStyle_comp_1_senior-nichang18,
#bsmlStyle_comp_1_senior-nichang19,
#bsmlStyle_comp_1_senior-nichang20,
#bsmlStyle_comp_1_senior-nichang26,
#bsmlStyle_comp_1_senior-nichang27,
#bsmlStyle_comp_1_senior-nichang28,
#bsmlStyle_comp_1_senior-nichang29 {
    font-size: 14px
}

#bsmlStyle_comp_1_senior-nichang21,
#bsmlStyle_comp_1_senior-nichang30,
#bsmlStyle_comp_1_senior-nichang35,
#bsmlStyle_comp_1_senior-nichang43,
#bsmlStyle_comp_1_senior-nichang52,
#bsmlStyle_comp_1_senior-nichang60 {
    background-color: #d1d1d1;
    width: 390px;
    opacity: 1;
    height: 1px;
    top: 6.5px;
    display: none
}

#bsmlStyle_comp_1_senior-nichang22 {
    width: 300px;
    height: auto;
    margin-bottom: 14px;
    margin-top: 14px
}

#bsmlStyle_comp_1_senior-nichang31 {
    width: 300px;
    height: 46px;
    margin-bottom: 14px;
    margin-top: 14px
}

#bsmlStyle_comp_1_senior-nichang34,
#bsmlStyle_comp_1_senior-nichang51 {
    border-radius: 6px;
    padding-left: 114px
}

#bsmlStyle_comp_1_senior-nichang36,
#bsmlStyle_comp_1_senior-nichang53 {
    width: 300px;
    height: 46px;
    margin-bottom: 7px;
    margin-top: 14px
}

#bsmlStyle_comp_1_senior-nichang37,
#bsmlStyle_comp_1_senior-nichang54 {
    width: 54%;
    font-size: 14px;
    color: #666;
    height: 100%;
    margin-left: 0
}

#bsmlStyle_comp_1_senior-nichang38,
#bsmlStyle_comp_1_senior-nichang55 {
    input-color: #666;
    input-text-align: left;
    font-size: 14px;
    color: #666;
    text-align: left;
    height: 100%
}

#bsmlStyle_comp_1_senior-nichang39,
#bsmlStyle_comp_1_senior-nichang56 {
    text-align: inherit;
    height: 100%;
    width: 100%;
    padding: 0 10px;
    pointer-events: auto;
    border-radius: 6px
}

#bsmlStyle_comp_1_senior-nichang41,
#bsmlStyle_comp_1_senior-nichang58 {
    margin-left: 57%
}

#bsmlStyle_comp_1_senior-nichang42,
#bsmlStyle_comp_1_senior-nichang59 {
    color: #1c1a1a;
    width: 130px;
    opacity: inherit;
    height: 36px;
    border-radius: 4px;
    line-height: 36px;
    padding: 0 10px;
    overflow: hidden
}

#bsmlStyle_comp_1_senior-nichang44,
#bsmlStyle_comp_1_senior-nichang61 {
    width: 300px;
    height: 36px;
    line-height: 36px;
    background-color: rgba(254, 107, 36, 1);
    color: #fff;
    margin: 14px auto 0
}

#bsmlStyle_comp_1_senior-nichang45 {
    width: 414px;
    height: auto;
    left: 0;
    top: 1184px;
    z-index: 15;
    transform: rotate(0);
    -webkit-transform: rotate(0)
}

#bsmlStyle_comp_1_senior-nichang48 {
    width: 300px;
    height: 46px;
    margin-bottom: 14px;
    margin-top: 7px
}

#bsmlStyle_comp_1_senior-nichang62 {
    width: 416.45px;
    height: 59.41px;
    left: 0;
    top: 1128px;
    z-index: 18;
    transform: rotate(0);
    -webkit-transform: rotate(0)
}

#bsmlStyle_comp_1_senior-nichang64 {
    border-radius: 0;
    border: none;
    width: 416.45px;
    height: 59.41px;
    top: 0;
    left: 0;
    opacity: 1
}

#bsmlStyle_comp_1_senior-nichang65 {
    width: 423.69px;
    height: 145px;
    left: -4.53px;
    top: 1929px;
    z-index: 19;
    transform: rotate(0);
    -webkit-transform: rotate(0)
}

#bsmlStyle_comp_1_senior-nichang67 {
    border-radius: 0;
    border: none;
    width: 423.69px;
    height: 145px;
    top: 0;
    left: 0;
    opacity: 1
}

#bsmlStyle_comp_1_senior-nichang68 {
    width: 425.54px;
    height: 553px;
    left: -5.24px;
    top: 1376px;
    z-index: 23;
    transform: rotate(0);
    -webkit-transform: rotate(0)
}

#bsmlStyle_comp_1_senior-nichang70 {
    border-radius: 0;
    border: none;
    width: 425.54px;
    height: 553px;
    top: 0;
    left: 0;
    opacity: 1
}

#bsmlStyle_comp_2_trans-fixed-bar-blank1 {
    background-color: #fff
}

#bsmlStyle_comp_2_trans-fixed-bar-blank3,
#bsmlStyle_comp_2_trans-fixed-bar-blank5,
#bsmlStyle_comp_2_trans-fixed-bar-blank8 {
    text-align: center;
    display: block;
    color: inherit;
    padding: 0;
    font-size: 14px
}

#bsmlStyle_comp_2_trans-fixed-bar-blank4 {
    background-color: #ff6d39
}

#bsmlStyle_comp_2_trans-fixed-bar-blank7 {
    background-color: #f33531
}
</style>