<style>
    .profile-avatar-container {
        position: relative;
        width: 100px;
        margin: 0 auto;
    }

    .profile-avatar-container .profile-user-img {
        width: 100px;
        height: 100px;
    }

    .profile-avatar-container .profile-avatar-text {
        display: none;
    }

    .profile-avatar-container:hover .profile-avatar-text {
        display: block;
        position: absolute;
        height: 100px;
        width: 100px;
        background: #444;
        opacity: .6;
        color: #fff;
        top: 0;
        left: 0;
        line-height: 100px;
        text-align: center;
    }

    .profile-avatar-container button {
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
        height: 100px;
        opacity: 0;
    }
</style>
<div class="row animated fadeInRight">
    <div class="col-md-4" style="width: 500px;">
        <div class="box box-success">
            <div class="panel-heading">
                联系我们
            </div>
            <div class="panel-body">

                <form id="update-form" role="form" data-toggle="validator" method="POST" action="{:url('ksconfig.ks_contact/update')}">
                    <!--<input type="hidden" id="c-avatar" name="row[avatar]" value="{$admin.avatar}"/>-->
                    <div class="box-body box-profile">

                        <!--<div class="profile-avatar-container">-->
                            <!--<img class="profile-user-img img-responsive img-circle plupload" src="{$admin.avatar|cdnurl}" alt="">-->
                            <!--<div class="profile-avatar-text img-circle">{:__('Click to edit')}</div>-->
                            <!--<button id="plupload-avatar" class="plupload" data-input-id="c-avatar"><i class="fa fa-upload"></i> {:__('Upload')}</button>-->
                        <!--</div>-->

                        <h3 class="profile-username text-center">联系我们</h3>

                        <p class="text-muted text-center"></p>

                        <!--<div class="form-group" style="margin-top: 20px">-->
                            <!--<label class="control-label col-xs-12 col-sm-2" style="width: 18.666667%;margin-left: -15px;margin-top: 10px;">轮播图:</label>-->
                            <!--<div class="col-xs-12 col-sm-8" style="margin-left: -20px;margin-top: 4px;">-->
                                <!--<div class="input-group">-->
                                    <!--<input id="c-images" style="width: 225px" class="form-control" size="50" name="row[images]" type="text" value="{$contact.images|htmlentities}">-->
                                    <!--<div class="input-group-addon no-border no-padding">-->
                                        <!--<span><button type="button" id="plupload-images" class="btn btn-danger plupload" data-input-id="c-images" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true" data-preview-id="p-images"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>-->
                                        <!--<span><button type="button" id="fachoose-images" class="btn btn-primary fachoose" data-input-id="c-images" data-mimetype="image/*" data-multiple="true"><i class="fa fa-list"></i> {:__('Choose')}</button></span>-->
                                    <!--</div>-->
                                    <!--<span class="msg-box n-right" for="c-images"></span>-->
                                <!--</div>-->
                                <!--<ul class="row list-inline plupload-preview" id="p-images"></ul>-->
                            <!--</div>-->
                        <!--</div>-->


                        <div class="form-group">
                            <label for="contactname" class="control-label">联系人:</label>
                            <input type="text" class="form-control" id="contactname" name="row[contactname]" value="{$contact.contactname|htmlentities}" />
                        </div>
                        <div class="form-group">
                            <label for="qq" class="control-label">QQ:</label>
                            <input type="text" class="form-control" id="qq" name="row[qq]" value="{$contact.qq|htmlentities}" />
                        </div>
                        <div class="form-group">
                            <label for="tel" class="control-label">网址:</label>
                            <input type="text" class="form-control" id="tel" name="row[tel]" value="{$contact.tel|htmlentities}" />
                        </div>
                        <div class="form-group">
                            <label for="phone" class="control-label">手机:</label>
                            <input type="text" class="form-control" id="phone" name="row[phone]" value="{$contact.phone|htmlentities}" data-rule="required"/>
                        </div>
                        <div class="form-group">
                            <label for="email" class="control-label">邮箱:</label>
                            <input type="text" class="form-control" id="email" name="row[email]" value="{$contact.email|htmlentities}" data-rule="required;email"/>
                        </div>
                        <div class="form-group">
                            <label for="address" class="control-label">地址:</label>
                            <input type="text" class="form-control" id="address" name="row[address]" value="{$contact.address|htmlentities}" data-rule="required"/>
                        </div>



                        <!--联系我们标志位-->
                        <input type="hidden" id="c-config_category" name="row[config_category]" value="contact"/>


                        <div class="form-group">
                            <button type="submit" class="btn btn-success">{:__('Submit')}</button>
                            <button type="reset" class="btn btn-default">{:__('Reset')}</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>

    </div>

</div>
